{% extends 'base.html.twig' %}

{% block title %}Mon panier | La Boutique Française!
{% endblock %}

{% block content %}
	<h1>Mon Panier</h1>
	retrouver tous les articles ajoutés dans votre panier

	{% if cart|length > 0 %}


		<div class="example-wrapper">


			<table class="table mt-4">

				<thead>
					<tr>
						<th scope="col">Produit</th>
						<th scope="col"></th>
						<th scope="col">Quantity</th>
						<th scope="col">Prix</th>
						<th scope="col">Total</th>
						<th scope="col"></th>
					</tr>
				</thead>

				<tbody class="table-group-divider">
					{% set total = null %}
					{% set nbProducts = 0 %}
					{% for product in cart %}

						<tr>
							<th><img src="/uploads/{{ product.product.illustration }}" alt="{{ product.product.name }}" height="100px">
							</th>
							<th scope="row">{{ product.product.name }}<br>
								<small>{{ product.product.subtitle }}</small>
							</th>
							<td>
							<a href="{{ path('decrease_to_cart', { 'id' : product.product.id }) }}"> 
								<img src="{{ asset('assets/img/minus.png') }}" alt="Diminuer la quantité" width="17px" class="mx-2">
							</a>
									{{ product.quantity }}
							<a href=" {{ path('add_to_cart', { 'id' : product.product.id }) }} "> {# Fonction add() #}
								<img src="{{ asset('assets/img/add.png') }}" alt="Augmenter la quantité" height="17px" class="mx-2">
							</a>
							</td>
							<td>{{ (product.product.price / 100)|number_format(2, ',','.') }}€</td>
							<td>
								<strong>
									{{ ((product.product.price * product.quantity ) / 100)|number_format(2, ',','.') }}€
								</strong>
							</td>
							<td>
								<a href=" {{ path('delete_to_cart', { 'id' : product.product.id }) }} ">
									<img src="{{ asset('assets/img/delete.png') }}" alt="Supprimer mon produit" height="25px">
								</a>
							</td>
						</tr>
						{% set total = total + (product.product.price * product.quantity ) %}
						{% set nbProducts = nbProducts + (product.quantity) %}
					{% endfor %}

				</tbody>

			</table>
		</div>
		<div class="text-right">
			{# <b>Nombre d'articles : {{ cart|length }} </b> <br> Affichage du nombre de sorte de produits #}
			<b>Nombre d'articles :
				{{ nbProducts }}
				{# constante nombre de produits #}
			</b>
			<br>
			<b>Total de mon panier :
				{{ (total / 100)|number_format(2, ',','.') }}€
			</b>
			<a href="{{ path('app_order') }}" class="btn btn-success btn-block mt-3 fw-bold">
				<strong>Valider mon panier</strong>
			</a>
		</div>

        {% else %}
            <hr>
            <p class="fw-bold"><b>Votre panier est vide</b></p><br>
            <a href=" {{ path('app_products') }} ">Nos produits</a>
        {% endif %}

	{% endblock %}
