{% extends 'base.html.twig' %}

{% block title %}Mes commandes | La Boutique Française
{% endblock %}

{% block content %}

    <div class="d-flex flex-row justify-content-between">
	    <h1 class="my-auto">Mes commandes</h1>
        <div class="d-flex justify-content-around w-25">
            <a href="{{ path('app_account') }}" class="btn btn-outline-info btn-block my-auto">Mon compte</a>
        </div>
    </div>
    <div class="d-flex">
        <p>C'est dans cet espace que vous allez pouvoir suivre et gérer vos commandes.</p>
	</div>
	
    <hr class="mt-3">


	{% if orders|length == 0 %}

		<p class="text-center">Vous n'avez pas encore passé de commande sur La Boutique Française</p><br>


	{% else %}


		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">Référence</th>
					<th scope="col">Statut</th>
					<th scope="col">Passée le </th>
					<th scope="col">Produits</th>
					<th scope="col">Total</th>
					<th scope="col"></th>
				</tr>
			</thead>

			<tbody>

				{% for order in orders %}
					<tr>
						<td><span class="badge badge-secondary">{{ order.reference|striptags|slice(0, 40) }}</span></td>
						<td>
							{% if order.state == 1 %} Paiement accepté - Commande validée
								{% elseif order.state == 2 %} Préparation en cours
								{% elseif order.state == 3 %} Livraison en cours
									
							{% endif %}
						</td>
						<td>{{ order.createdAt|date('d/m/Y') }}</td>
						<td>{{ order.orderDetails|length }}</td>
						<td>{{ ((order.carrierPrice + order.getTotal) / 100)|number_format(2, ',', '.') }} €</td>
						<td class="text-right"><a href="{{ path('app_account_order_show', {'reference' : order.reference}) }}">Voir ma commande</a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	{% endif %}
{% endblock %}
